


<div id="form_container">
    <form id="5" class="appnitro" enctype="multipart/form-data" method="post" action="vipsManage">
        <div class="form_description">
            <h2>Ajout VIPs</h2>
            <p></p>
        </div>
        <ul >

            <li id="li_1" >
                <label class="description" for="element_1">Nom : </label>
                <span>
			<input id="nom" name="nom" class="element text" maxlength="255" type="text" maxlength="20" size="8" value=""/>
			<label>Nom</label>
		</span>
                <span>
			<input id="prenom" name= "prenom" class="element text" maxlength="255" size="14" value=""/>
			<label>Prénom</label>
		</span>
            </li>		<li id="li_5" >
            <label class="description" for="element_5">Sexe : </label>
            <div>
                <select class="element select small" id="sexe" name="sexe">
                    <option value="" selected="selected"> . . . </option>
                    <option value="M" >Masculin</option>
                    <option value="F" >Féminin</option>

                </select>
            </div>
        </li>		<li id="li_2" >
            <label class="description" for="element_2">Date de naissance : </label>
            <span>
			<input id="jour" name="jour" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_2_1">JJ</label>
		</span>
            <span>
			<input id="mois" name="mois" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_2_2">MM</label>
		</span>
            <span>
	 		<input id="an" name="an" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_2_3">AAAA</label>
		</span>

            <script type="text/javascript">
                Calendar.setup({
                    inputField	 : "element_2_3",
                    baseField    : "element_2",
                    displayArea  : "calendar_2",
                    button		 : "cal_img_2",
                    ifFormat	 : "%B %e, %Y",
                    onSelect	 : selectEuropeDate
                });
            </script>

        </li>		<li id="li_6" >
            <label class="description" for="element_6">Nationalité : </label>
            <div>

                <select class="element select medium" id="nationalité" name="nationalité">
                    <option value="" selected="..."> . . . </option>
                    {{#each allNationalite}}
                    <option value="{{this.num}}" >{{this.nom}}</option>
                    {{/each}}
                </select>
            </div>
        </li>		<li id="li_3" >
            <label class="description" for="element_3">Commentaire </label>
            <div>
                <textarea id="commentaire" name="commentaire" class="element textarea medium"></textarea>
            </div>
        </li>		<li id="li_4" >
            <label class="description" for="element_4">Selectionner l'image : </label>
            <div>
                <input id="file" name="file" class="element file" type="file"/>
            </div>
        </li>

            <li class="buttons">
                <input type="hidden" name="form_id" value="58271" />

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Valider" />
            </li>
        </ul>
    </form>
</div>